# pixi environments
.pixi/*
!.pixi/config.toml
pixi.lock
pixi.toml

# python cache files
__pycache__/
.ruff_cache/

# user directories
in/
out/
tmp/
test/

# marimo
__marimo__/

# user-defined config
internal.config*

# tests
test.ipynb
test*ipynb
test*py

# vscode settings
.vscode/

# Claude
CLAUDE.md
